h1{
    background-color:gray;
    color:black;
}
body{
    background-color:darkolivegreen;
    color:black;
}
h5{
    background-color:grey;
    color:black;
}
h2{
    background-color:grey;
    color:black;
}
h3{
    background-color:grey;
    color:black;
}
h4{
    background-color:grey;
    color:black
}
h6{
    background-color:grey;
    color:black;
}